.addToDoForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;    
}

.addToDoForm > input, .addToDoForm > button {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #fff;
}

.addToDoForm > button {
    background-color: green;
    color: lightgreen;
}